@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* font sources */
body{

font-family: 'Poppins', sans-serif;
}

/* h1 heading */


.container{
    
    display: grid;
     grid-template-columns: 1fr 1fr; 
     grid-row-gap:30px;
     align-items: center;
     padding-right: 60px;
     padding-top: 60px;
     background-color: #040558;
    

}
/* headins---------------- */
.copa-heading{
   
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 120px;
    margin-left: 132px;
    padding: 40px;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 64px;
    margin-top: 200px;
    
}

/* hover korsi banaer er upor-------- */
.banner:hover img{
    transform: scale(1.3);
}
/* link buttons------------------------------------------------------------------ */
button{
    background-color: #E02C6D;
    width: 168px;
    height: 44px;
    margin-left: 180px;
    margin-bottom: 200px;
    margin-top: 50px;
    color: #FFFFFF;
    font-size: 1.7em;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #E02C6D ;
    
}
/* top banners-------------------------------------------------------- */
.banner img {
    
    width: 600px;
    height: 438px;
    margin-bottom: 50px;
    margin-left: 50px;
   
}
.button-info{
    display: flex;
    flex-direction: row;
    
}
/* player blog--------------------------------- */
.top-blogs{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap:30px;
    
    
   

}
.blogs{
    margin-right: 210px;
    margin-top: 70px;
    margin-left: 200px;
    display:flex; 
    justify-content: center;
    align-items: center;
   
   grid-row-gap:30px;
}

   
   
    
    
   

   
   
}
.blog{
    
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    

}
.thumbnail img{
    
    border: 2px whitesmoke;
    width: 100%;
    height: 256px;
    border-radius: 7px;
}
.thumbnail h2{
    font-weight: bold;
    font-size: 28px;
    
}
.para-info article{
    font-size: 20px;
}
.blog-info {

    margin-top: 16px;
    font-size: 35px;
}
/* footer------- */
footer{
    border: 2px solid #FFFFFF;
    margin-top: 40px;
    text-align: center;

}
footer .footer-info{
    
    display: flex;
    justify-content: center;
    align-items: center;
}
/* icon--------- */
.icon{
    width: 80%;
    margin-left: 40px;
    padding-left: 100px;
    display: flex;
    justify-content: center;
    width: 100%;
    

}
/* icon p tag----- */
.icon p{
    display:flex;
    flex-direction: grid;
    grid-template-columns: 1fr;
    padding-right: 180px;
    text-align: center;
    font-size: 2.5em
}
/* @media quarey */
/* mobile device tab */
@media only screen (max-width:688px) and (min-width:990px) {
    .container{
        width:100%;
    }
    .top-blogs.blog{
        grid-template-columns: repeat(2,1fr) 
    }
    .blog .blogs .thumbnail{
        flex-direction: column;
    }
    .thumbnail{
        display: none;
    }
}






    


    
    